<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel" ng-non-bindable>
    <ol class="carousel-indicators">
        <li data-target="inSlider" data-slide-to="0" class="active"></li>
        <li data-target="inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>나날이 불어나는 <br/>
                        나의 비트코인,<br/>
                        나만의 방식으로
                    </h1>
                    <p>비트코인으로 내 삶의 질을 더 높게...</p>
                    <!--p>
                        <a class="btn btn-lg btn-primary" href="index.html" role="button">신규가입</a>
                    </p-->
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="assets/images/landing/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>적은 돈으로 많은 돈을... <br/> 적은 시간에 많은 돈을...</h1>
                    <p>아껴진 돈과 시간으로 내 삶의 질을 더 향상...</p>
                    <p><a class="btn btn-lg btn-primary" href="index.html" role="button">신규가입</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" data-target="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div ng-if="notifications.length">
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-offset-1 col-md-10">
            <div class="alert alert-success" role="alert" ng-repeat="row in notifications">
                {{row.content}}
                <a  ng-click="readNotifcation(row.id)" style="color:#544949;float: right;"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </div>
</div>