<section id="features" class="container services" ng-controller="ExrateCtrl as exrateCtrl">
    <div class="row" ng-show="exrateCtrl.loaded">
        <div class="col-sm-3">
            <h2>POLONIEX</h2>
            <p>
                <ul class="vmrate list-unstyled">
                    <li ng-repeat="(key, item) in exrateCtrl.rate['POLONIEX'].vmData">
                        {{item.vm_name}}
                        <div>
                            <span ng-if="item.currency_name=='USD'"><i class="fa fa-krw" aria-hidden="true"></i></span>
                            <span ng-if="item.currency_name=='CNY'"><i class="fa fa-jpy" aria-hidden="true"></i></span>
                            <span ng-if="item.currency_name=='JPY'"><i class="fa fa-jpy" aria-hidden="true"></i></span>
                            <span ng-if="item.currency_name=='KRW'"><i class="fa fa-krw" aria-hidden="true"></i></span>
                            {{item.vm_rate|number:4}}
                        </div>
                    </li>
                    <li>
                        <a class="navy-link" ng-href="{{exrateCtrl.rate['POLONIEX'].siteURL}}" role="button" target="_blank">Details &raquo;</a>
                    </li>
                </ul>
            </p>
        </div>
        <div class="col-sm-3">
            <h2>BITHUMB</h2>
            <ul class="vmrate list-unstyled">
                <li ng-repeat="(key, item) in exrateCtrl.rate['BITHUMB'].vmData">
                    {{item.vm_name}}
                    <div>
                        <span ng-if="item.currency_name=='USD'"><i class="fa fa-krw" aria-hidden="true"></i></span>
                        <span ng-if="item.currency_name=='CNY'"><i class="fa fa-jpy" aria-hidden="true"></i></span>
                        <span ng-if="item.currency_name=='JPY'"><i class="fa fa-jpy" aria-hidden="true"></i></span>
                        <span ng-if="item.currency_name=='KRW'"><i class="fa fa-krw" aria-hidden="true"></i></span>
                        {{item.vm_rate|number:4}}
                    </div>
                </li>
                <li>
                    <a class="navy-link" ng-href="{{exrateCtrl.rate['BITHUMB'].siteURL}}" role="button" target="_blank">Details &raquo;</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h2>OKCOIN</h2>
            <ul class="vmrate list-unstyled">
                <li ng-repeat="(key, item) in exrateCtrl.rate['OKCOIN'].vmData">
                    {{item.vm_name}}
                    <div>
                        <span ng-if="item.currency_name=='USD'"><i class="fa fa-krw" aria-hidden="true"></i></span>
                        <span ng-if="item.currency_name=='CNY'"><i class="fa fa-jpy" aria-hidden="true"></i></span>
                        <span ng-if="item.currency_name=='JPY'"><i class="fa fa-jpy" aria-hidden="true"></i></span>
                        <span ng-if="item.currency_name=='KRW'"><i class="fa fa-krw" aria-hidden="true"></i></span>
                        {{item.vm_rate|number:4}}
                    </div>
                </li>
                <li>
                    <a class="navy-link" ng-href="{{exrateCtrl.rate['OKCOIN'].siteURL}}" role="button" target="_blank">Details &raquo;</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h2>KORBIT</h2>
            <ul class="vmrate list-unstyled">
                <li ng-repeat="(key, item) in exrateCtrl.rate['KORBIT'].vmData">
                    {{item.vm_name}}
                    <div>
                        <span ng-if="item.currency_name=='USD'"><i class="fa fa-krw" aria-hidden="true"></i></span>
                        <span ng-if="item.currency_name=='CNY'"><i class="fa fa-jpy" aria-hidden="true"></i></span>
                        <span ng-if="item.currency_name=='JPY'"><i class="fa fa-jpy" aria-hidden="true"></i></span>
                        <span ng-if="item.currency_name=='KRW'"><i class="fa fa-krw" aria-hidden="true"></i></span>
                        {{item.vm_rate|number:4}}
                    </div>
                </li>
                <li>
                    <a class="navy-link" ng-href="{{exrateCtrl.rate['KORBIT'].siteURL}}" role="button" target="_blank">Details &raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</section>