<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-4 ibox col-lg-offset-4 col-md-6 col-md-offset-3">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12"><h3 class="m-t-none m-b">비번 변경</h3>
              <div class="hr-line-dashed"></div>
              <form name="proForm" role="form" ng-submit="pwdCtrl.savePassword()">
                <div class="form-group">
                  <label>새 비번</label>
                  <input type="password" placeholder="New Password" class="form-control" ng-model="pwdCtrl.inputData.newPassword" required="">
                </div>

                <div class="form-group">
                  <label>비번 확인</label>
                  <input type="password" placeholder="Confirm Password" class="form-control" ng-model="pwdCtrl.inputData.newConfirmPassword" required="">
                </div>                    

                <div class="hr-line-dashed"></div>                                                      
                <div>
                  <button class="btn btn-sm btn-primary pull-right m-t-n-xs" ng-disabled="proForm.$invalid || pwdCtrl.isSaving" type="submit"><strong>비번 변경</strong></button>
                </div>

              </form>
              <div class="clearfix"></div>
              <div class="alert-success alert text-center" ng-show="pwdCtrl.passwordUpdated">비번변경이 성공하였습니다.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
