<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <div class="navbar-header">
            <div ng-include="'app/dashboard/exchangerate-bar.html'" ng-show="main.isDahsboard"></div>
            <div ng-include="'app/users/userstatus.html'" ng-show="main.showUserStatus"></div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a ui-sref="app.changePwd">
                    <i class="fa fa-lock"></i> 비번변경
                </a>
            </li>
            <li>
              <a ng-click="main.logout()">
                <i class="fa fa-sign-out"></i> 로그아웃
              </a>
            </li>
        </ul>
    </nav>
</div>